@model IEnumerable<BTL_Car.Models.Cars>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đặt xe</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="">
    <style>
        * {
            box-sizing: border-box;
        }

        body {
            font-family: Arial;
            padding: 10px;
            background: #f1f1f1;
        }

        /* Header/Blog Title */
        .header {
            padding: 70px;
            text-align: center;
            background: rgb(88, 189, 236);
            background-image: url("./img/a1.png");
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }

        .header h1 {
            font-size: 50px;
        }

        /* Style the top navigation bar */
        .topnav {
            overflow: hidden;
            background-color: #333;
        }

        /* Style the topnav links */
        .topnav a {
            float: left;
            display: block;
            color: #f2f2f2;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }

        /* Change color on hover */
        .topnav a:hover {
            background-color: #ddd;
            color: black;
        }

        /* Create two unequal columns that floats next to each other */
        /* Left column */
        .leftcolumn {
            float: left;
            width: 75%;
        }

        /* Right column */
        .rightcolumn {
            float: left;
            width: 25%;
            background-color: #f1f1f1;
            padding-left: 20px;
        }

        .fakeimg {
            background-color: #aaa;
            width: 100%;
            padding: 20px;
            background-image: url("img/a.jpg");
            background-repeat: no-repeat;
            background-position: center;
        }

        /* Add a card effect for articles */
        .card1 {
            background-color: white;
            padding: 20px;
            margin-bottom: 20px;
        }

        /* Clear floats after the columns */
        .row::after {
            content: "";
            display: table;
            clear: both;
        }

        /* Footer */
        .footer {
            padding: 20px;
            text-align: center;
            background: #ddd;
            margin-top: 20px;
        }

        /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
        @@mediascreen and (max-width: 1000px) {

            .leftcolumn,
            .rightcolumn {
                width: 100%;
                padding: 0;
            }
        }

        /* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
        @@mediascreen and (max-width: 600px) {
            .topnav a {
                float: none;
                width: 100%;
            }
        }
    </style>
</head>

<body>
    <div class="header" style="margin: 5px 25px; ">
        <h1>MinOto</h1>
        <p style="font-size: 25px;">Luôn hỗ trợ và chia sẻ trên mọi tuyến đường</p>
    </div>

    <div class="topnav" style="margin: 5px 25px ">
        @if (Context.Session.GetString("UserName") != null)
        {
            <a asp-controller="Users" asp-action="Logout" style="float:right">Logout</a>
            <a asp-controller="Users" asp-action="UserInfor" style="float:right"> Xin Chào
                @Context.Session.GetString("UserName") <i class="fa fa-fw fa-user"></i></a>
        }
        else
        {
            <a asp-controller="Users" asp-action="Login" style="float:right">Login <i class="fa fa-fw fa-user"></i></a>
        }
    </div>

    <div class="row" style="margin: 5px 20px">
        <div class="mb-4">
            <h3 style="margin: 5px 20px">About us</h3>
        </div>
        <div>
            <p>
                Mục tiêu chính của website là giúp cho chủ xe có thể chia sẻ( cho thuê) xeô tô bằng cách
                đăng bài và người cần có thể tìm kiếm, thuê được chiếc xe phù hợp ngay
                tại nhà. <br>
                - Tạo nền tảng kết nối và chia sẻ: tạo ra một nền tảng kết nối giữa những người có xe và những người cần
                sử dụng xe. Nó cung cấp một cơ hội cho các chủ xe ô tô chia sẻ phương tiện của họ với những người cần sử
                dụng, tạo ra một cộng đồng chia sẻ xe.<br>
                - Tiết kiệm chi phí và tài nguyên: nhằm giúp người dùng tiết kiệm chi phí bằng cách chia sẻ chi phí sử
                dụng xe thay vì phải mua một phương tiện mới hoặc thuê xe từ các dịch vụ thuê xe truyền thống. Người
                thuê không phải di chuyển,chỉ cần mở web lên tìm kiếm và xem thông tin chiếc xe mình cần thuê có phù hợp
                không.<br>
                - Thuận tiện và linh hoạt: cung cấp sự thuận tiện và linh hoạt cho người dùng bằng cách cho phép họ dễ
                dàng truy cập vào các dịch vụ chia sẻ xe thông qua trang web. Chủ xe có thể đăng bài thông tin, giá tiền
                thuê xe lên và người thuê có thể tìm kiếm, đặt lịch trước và thuê các phương tiện theo nhu cầu của họ
                một cách linh hoạt và dễ dàng.<br>
                - Tính tương thích và dễ sử dụng: Phần mềm được thiết kế để tương thích với các thiết bị và hệ điều hành
                đồng thời đảm bảo tính dễ sử dụng và thân thiện với người dùng. Việc cung cấp hướng dẫn sử dụng và hỗ
                trợ người dùng sẽ giúp cho việc sử dụng phần mềm trở nên dễ dàng hơn.<br>
            </p>
        </div>
    </div>
    <div class="footer" style="margin: 5px 25px">
        <h2>Footer</h2>
    </div>
</body>